.messageForm {
  flex-direction: row;
  display: flex;
  width: 100%;
}
  
.messageInput {
  height: 40px;
  width: 100%;
  background-color: white;
  padding: 0px 18px;
  font-size: 15px;
  border: 1px solid black;
}

.sendButton {
  border: none;
  outline: none;
  padding: 5px 5px 5px 5px;
  margin-left: 5px;
  background-color: white;
}

.sendText {
  color: #3366BB;
  padding: 10px 5px 10px 10px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.sendButton:hover {
  background-color: whitesmoke;
}