.myMessage {
  padding: 12px;
  font-size: 16px;
  border-radius: 20px;
  background-Color: red;
  float: right;
  width: fit-content;
  color: white;
  overflow-wrap: break-word;
  max-width: 400px;
  margin: 12px 40px 0px 0px;
}