.messageSender {
  margin: 7px 0px 4px 5px;
  color: grey;
  font-size: 14px;
}

.theirMessage {
  padding: 12px;
  font-size: 16px;
  border-radius: 20px;
  max-width: 400px;
  width: fit-content;
  float: 'left';
  background-Color: white;
  margin: 15px 0px 0px 4px;
  overflow-wrap: break-word;
}