.emptyPageText {
  align-content: center;
  font-size: 20px;
  letter-spacing: 0.1px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 200px;
  color: darkgrey;
}

.emptyPage {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding: 80px;
  text-align: center;
}