.users {
  font-weight: 400;
  color: grey;
  font-size: 12px;
}

.roomName {
  font-weight: 500;
  color: grey;
  font-size: 25px;
  padding-top: 5px;
}

.header {
  flex-direction: row;
  padding: 0px 40px 0px 40px;
}